<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Bluetooth clásico -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Bluetooth Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />

    <!-- Compatibilidad de ubicación para Bluetooth -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:label="Vende en FA"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon"
        android:roundIcon="@mipmap/launcher_icon">

        <!-- Actividad principal de Flutter -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!--
                 Tema que se muestra mientras Flutter inicia.
            -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Lanzador de la aplicación -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--
             Image Cropper / uCrop

             Necesario para abrir el editor de recorte
             de image_cropper en Android.
        -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--
             No eliminar.
             Flutter utiliza este meta-data para registrar
             automáticamente los plugins.
        -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!--
         Permite a Flutter consultar actividades que procesan
         texto mediante ACTION_PROCESS_TEXT.
    -->
    <queries>

        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>

    </queries>

</manifest>